<?xml version="1.0" encoding="UTF-8" ?>
<Config>
    <BackupRootDirectory>E:\windows</BackupRootDirectory>
    <TargetDirectories>
        <TargetDirectory>C:\Users\jknut\Desktop\Notes</TargetDirectory>
    </TargetDirectories>
    <Logging>
        <Level>DEBUG</Level>
        <MaxLogFiles>10</MaxLogFiles>
        <Directory>.\logs\</Directory>
    </Logging>
    <FileRetention>
        <DeleteBackupAfterTargetDeleted unit="Days">90</DeleteBackupAfterTargetDeleted>
    </FileRetention>
    <Test>
        <BackupRootDirectory>C:\Users\jknut\AppData\Local\Temp\BackupManagerTest\Backups</BackupRootDirectory>
        <TargetDirectories>
            <TargetDirectory>C:\Users\jknut\AppData\Local\Temp\BackupManagerTest\Target</TargetDirectory>
        </TargetDirectories>
    </Test>
</Config>