<?xml version="1.0" encoding="UTF-8" ?>
<Config>
    <BackupRootDirectory>E:\windows\</BackupRootDirectory>
    <TargetDirectories>
        <Notes>C:\Users\jknut\Desktop\Notes\</Notes>
    </TargetDirectories>
    <Logging>
        <Level>DEBUG</Level>
        <MaxLogFiles>10</MaxLogFiles>
        <Directory>.\logs\</Directory>
    </Logging>
    <FileRetention>
        <DeleteBackupAfterTargetDeleted unit="Days">90</DeleteBackupAfterTargetDeleted>
    </FileRetention>
    <Test>
        <BackupRootDirectory>$env:Temp\BackupTest\Backups\</BackupRootDirectory>
        <TargetDirectories>
            <Target1>$env:Temp\BackupTest\Target1\</Target1>
            <Target2>$env:Temp\BackupTest\Target2\</Target2>
            <Target3>$env:Temp\BackupTest\Target3\</Target3>
        </TargetDirectories>
    </Test>
</Config>